.principal-body {
  margin: 40px 80px 80px;
}

h1 {
  color:  white;
  font-family: 'Poppins' sans-serif;
}

.div-images {
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px 10%;
  width: 100%;
}

.image-movies {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.movie-item {
  position: relative;
  height: 362px;
  width: 248px;
  margin: 30px 15px;
  border-radius: 25px;
  overflow: hidden;
}

.movie-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.movie-info:hover {
  opacity: 1;
  cursor: pointer;
}

.div-buttons {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.top-buttons {
  height: 54px;
  width: 200px;
  background: linear-gradient(to right, white, #563ff0);
  border-radius: 25px;
  border: none;
  margin: 10px;
  color: white;
  font-size: 20px;
}

.active-button {
  height: 54px;
  width: 200px;
  border: none;
  background: linear-gradient(to right, #563ff0, #563ff0);
  border-radius: 25px;
  margin: 10px;
  color: white;
  font-size: 20px;
}

.top-buttons:active {
  background: linear-gradient(to right, #563ff0, #563ff0);
}

.top-buttons:hover {
  background: linear-gradient(to right, #563ff0, #563ff0);
  cursor: pointer;
}

.button-arrow{
  color: #fff;
  background-color: #563ff0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.button-arrow:hover {
  cursor: pointer;
}

.div-arrow {
  display: flex; 
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
}


.div-footer {
  color: #ffff;
  padding: 35px;
}

.texto-footer {
   
  font-size: 1.1rem;
  text-align: justify;
  font-family: 'Poppins' sans-serif;
  font-size: 25px;
  width: 50%;
}

.title-category{
  padding: 0 11%;
}
